# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/gl_server/gl_server
/gl_client/samples/sample[0-9]

# astyle backups
*.orig
